:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #598f17;
  --secondary: #fe1859;
}

body {
  color: #333;
  background: #d6d6d6;
  font-family: 'Arial', Helvetica, sans-serif;
}


.menu {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}
.menu-item {
  font-size: 16px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  position: relative;
}
.menu-link {
  padding: 20px;
  color: #333;
  display: block;
}
.menu-link:hover ~ .menu-sub {
  visibility:visible;
}
.menu-sub:hover {
  visibility:visible;
}
.menu-sub {
  border: 1px solid #dcdcdc;
  visibility: hidden;
  position: absolute;
  width: 380px;
  background-color: #fff;
  top: 99%;
  padding: 10px;
}
.menu-sub-link {
  border-bottom: 1px solid #dcdcdc;
  padding: 10px;
  width: 100%;
  display: block;
}
.menu-sub-link:hover {
  background-color: gray;
}


.menu-link:hover {
  background-color: #e6e6e6;
}

.wrapper {
  min-height: 100vh;
}


.news-title {
  font-size: 30px;
  padding-left: 20px;
}
.news {
  width: 100%;
}
.news-item {
  margin-bottom: 10px;
}
.news-item:hover {
  background-color: rgb(209, 209, 209);
}
.news-date {
  background-color: rgb(209, 209, 209);
  padding: 6px 14px;
}
.new-link {
  border-bottom: 1px solid rgb(209, 209, 209);
  display: flex;
  align-items: center;
}
.news-copy {
  text-decoration: underline;
  padding: 4px 16px;
}


.cols-news {
  display: flex;
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid #000;
  background-color: #fff;
  
}
.cols-news .col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.footer-copyright {
  background-color: #fff;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}



.pattern-green {
  background-image: url("/img/side_back.gif");
  background-repeat: repeat-y;
}
.pattern-header {
  background-image: url("/img/head_b1.gif");
  background-repeat: repeat-x;
}




.scrollbar::-webkit-scrollbar {
  width: 8px; /* Kích thước của thanh cuộn dọc */
  height: 8px; /* Kích thước thanh cuộn ngang */
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Màu nền của track */
  border-radius: 10px; /* Bo tròn track */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #68aee7; /* Màu của thumb */
  border-radius: 10px; /* Bo tròn thumb */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #68aee7; /* Màu của thumb khi hover */
}

.has-text-align-center {
  text-align: center;
}