.flashsale {
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &Container {
    border-radius: 3px;
    max-width: 1284px;
    margin: 0 auto;
    padding: 0 18px;
  }

  &Header {
    @apply text-light bg-primary text-2xl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    height: 82px;
    position: relative;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    overflow: hidden;
  }

  &Label {
    @apply text-base flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    height: 40px;
    position: relative;
    top: 2px;

    &Text {
      position: relative;
      top: 2px;
      z-index: 999;
      font-size: 13px;
      font-weight: 700;
      padding: 2px 10px;
      border-radius: 12px;
      display: flex;
      justify-items: center;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &Icon {
    @apply text-secondary;
    position: relative;
    line-height: 0;
    bottom: 2px;
    display: inline-block;
    padding-right: 8px;
  }

  &Timer {
    @apply border-r-2 border-secondary text-secondary;
    display: flex;
    align-items: center;
    line-height: 1.2;
    padding: 8px 18px;
    height: 82px;
    font-size: 20px;
    font-weight: 400;

    &Label {
      line-height: 1.2;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > span {
        @apply border-2 border-secondary text-secondary;
        padding-top: 8px;
        font-size: 12px;
        padding-left: 12px;
        padding: 6px 10px 4px;
        border-radius: 12px;
        margin-left: 8px;
        position: relative;
        top: 4px;
      }
    }

    &Code {
      @apply text-dark bg-light border-2 border-secondary;
      font-weight: bold;
      letter-spacing: 4px;
      text-align: center;
      margin: 0 6px;
      padding: 6px 6px 6px 9px;
      border-radius: 4px;
      position: relative;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
  }

  &Products {
    display: flex;
    padding: 12px;
  }

  &Wrap {
    border: 4px solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    @apply bg-foreground border-dark border-t-0;
  }

  &Product {
    margin: 0 9px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    padding: 12px;
  }

  &Copy {
    @apply bg-dark text-white;
    line-height: 1.2;
    font-size: 22px;
    font-weight: normal;
    padding: 14px 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &Box {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &Note {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }

  &Logo {
    font-size: 28px;
    letter-spacing: 2px;
  }

  &Ship {
    flex-basis: 100%;
    display: flex;
    height: 82px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.2;
    font-weight: 400;
    font-size: 20px;
    padding: 0 42px 0 24px;
  }
}

@media only screen and (max-width: 768px) {
  .flashsale {
    padding: 0;
    margin-top: 50px;
    &Header {
      flex-direction: column;
      height: auto;
    }

    &Container {
      width: 100%;
    }

    &Products {
      flex-direction: column;
      padding: 10px 0 0 0;
    }

    &Copy {
      padding: 6px 8px 4px;
      width: 100%;
    }

    &Note {
      font-size: 12px;
    }

    &Logo {
      font-size: 16px;
    }

    &Box {
      flex-wrap: wrap;
      width: 100%;
    }

    &Ship {
      width: 100%;
      min-width: 100%;
      padding: 0 6px;
    }

    &Label {
      margin-left: 0;
      justify-content: center;
      display: flex;
      width: 100%;

      &Text {
        padding: 2px 4px 0 0;
        font-size: 14px;
        position: relative;
        top: -2px;
      }
    }
    &Container {
      padding: 0 8px;
    }
    &Icon {
      bottom: 1px;
    }
    &Wrap {
      border-width: 2px;
      border-top: 0;
      padding-bottom: 32px;
    }
    &Timer {
      font-size: 14px;
      height: auto;
      padding: 4px 8px;
      border-right-width: 1px;

      &Code {
        padding: 6px 4px 6px 6px;
      }

      &Label {
        font-size: inherit;

        > span {
          padding: 3px 8px 2px;
          font-size: 11px;
          border-width: 1px;
        }
      }
    }
  }
}
