.hero {
  padding: 8px 4px;
}

.banner {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.caption {
  @apply bg-dark border-t-4 border-secondary;
  padding: 24px;
  color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.items {
  display: flex;
  overflow: hidden;
}

.item {
  min-width: 540px;
  margin: 0 4px;
  @apply bg-dark;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .item {
    min-width: 83%;
    margin: 0;
    margin-left: 2%;
    width: 83%;
    box-sizing: border-box;
  }

  .hero {
    padding: 8px 0;
  }

  .items {
    width: 100%;
  }

  .caption {
    padding: 12px;
  }
}