@tailwind components;
@tailwind utilities;

@layer components {
  .hero {
    padding: 8px 4px;
    &-banner {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      overflow: hidden;
    }
    &-caption {
      @apply bg-dark;
      padding: 24px;
      color: #fff;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &-items {
      display: flex;
    }
    &-item {
      min-width: 540px;
      margin: 0 4px;
    }
  }

}