@tailwind components;
@tailwind utilities;

@layer components {
  .head {
    &-text {
      font-family: 'helvetica neue', helvetica, arial, sans-serif;

      &-medium {
        font-weight: 700;
        letter-spacing: 0.02em;
        font-weight: 400;
        font-weight: 700;
      }

      &-big {
        font-weight: bold;
        color: #fff;
        text-decoration: underline;
        text-underline-offset: 4px;
        letter-spacing: 0.08em;
      }

      &-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &-sample {
        color: #fff;
        font-weight: normal;
        float: left;
      }
    }

    &-logo {
      display: flex;
      justify-items: center;
      width: 18.75rem;
      align-items: center;
    }

    &-symbol {
      min-width: 9.0625rem;
      min-height: 4.25rem;
      flex-shrink: 1;
      flex-grow: 1;
    }

    &-dony {
      color: #fff;
      outline: #fff;
      text-shadow:
        -1px -1px 0 #1f1d1b,
        1px -1px 0 #1f1d1b,
        -1px 1px 0 #1f1d1b,
        1px 1px 0 #1f1d1b;
      letter-spacing: 0.06em;
      font-weight: 400;
      font-size: 3.24em;
      // 3.60em / scale(0.7)
      transform: scale(0.7);
      -webkit-font-smoothing: antialiased;
      backface-visibility: hidden;
      position: relative;
      left: -12px;
    }

    &-mark {
      width: 268px;
      height: 64px;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
    }

    &-shoesbg {
      width: 268px;
      height: 268px;
      top: 0;
      right: 0;
      z-index: 0;
      position: absolute;
      @apply bg-secondary;
      border-radius: 9999px;
    }
    &-shoes {
      position: absolute;
      right: 80px;
      top: -31px;
      z-index: 9999;
      height: 120px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &-container {
      max-width: 80.25rem;
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    &-box {
      @apply bg-primary;
      height: 3.75rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-columns {
      display: flex;
      justify-content: space-between;
    }

    &-top {
      width: 100%;
      text-align: left;
      white-space: pre-wrap;
      margin: 0 auto;
      word-wrap: break-word;
      color: #f4be55;
      font-weight: 700;
      padding: 18px;
      font-size: 14px;
      letter-spacing: 0.025em;
    }

    &-bar {
      @apply bg-dark;
      width: 100%;
      height: 44px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      letter-spacing: 0.05em;
    }

    &-item {
      padding: 14px 18px;
      line-height: 1.25;
      cursor: pointer;

      &:hover {
        @apply bg-primary;
      }
    }

    &-menu {
      display: flex;
      align-items: center;
    }

    &-group {
      background-color: #fff;
      padding: 0 18px;
    }

    &-search {
      width: 454px;
      height: 32px;
      margin: 0 8px;
      box-sizing: border-box;
      border-radius: 9999px;
      border: 1px solid #1f1d1b;
      outline: 0;
      background-color: #f1f1f1;
      display: flex;
      justify-content: flex-start;
      cursor: text;
      align-items: center;
      padding-left: 10px;
      font-family: 'helvetica neue', helvetica, arial, sans-serif;

      &-icon {
        padding-left: 6px;
        font-size: 14px;
        padding-top: 2px;
        line-height: 1.2;
        color: #1f1d1b;
      }
    }

    &-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      height: 94px;
      padding: 0 18px;
    }

    &-stores {
      width: 212px;
    }

    &-auth {
      width: 156px;
    }

    &-cart {
      width: 190px;
    }

    &-name {
      font-size: 12px;
      line-height: 1.2;
      font-weight: 700;
      font-family: 'helvetica neue', helvetica, arial, sans-serif;
    }

    &-note {
      display: block;
      font-size: 11px;
      line-height: 1.2;
      color: rgb(102, 102, 102);
    }

    &-copy {
      padding-left: 16px;
    }

    &-group {
      &-items {
        position: relative;
        display: flex;
        justify-content: center;

        &:last-child > div {
          border: 0;
        }
      }
    }

    &-items {
      font-size: 13px;
      border-right: 1px solid #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      font-family: 'helvetica neue', helvetica, arial, sans-serif;
      padding: 8px 0;

      &-popover {
        width: 375px;
        position: absolute;
        top: 48px;
        border-radius: 6px;
        visibility: hidden;
        z-index: -1;
        transform: translateY(-4px);
        transition: all 60ms cubic-bezier(0.19, 0.56, 0.42, 0.93);
      }

      &:last-child {
        border-right: 0;
      }

      &:hover ~ &-popover,
      &-popover:hover {
        visibility: visible;
        transform: translateY(0);
        z-index: 9999999;
      }
    }

    &-popover {
      z-index: 998;
      padding: 16px;
      background-color: rgb(255, 255, 255);
      @apply text-dark;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
      border-radius: 6px;
    }
  }

  .products {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1284px;
    width: 100%;
    &-container {
      position: relative;
      display: flex;
      margin: 0 auto;
      max-width: 1284px;
      width: 100%;
    }

    &-carousel {
      display: flex;
      width: 100%;
      position: relative;

      &-icon {
        width: 48px;
        height: 48px;
        @apply text-white;
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 999px;
      }

      &-button {
        width: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: absolute;
        z-index: 99;
        cursor: default;

        &.pre {
          left: -28px;
          top: 0;
        }

        &.next {
          right: -28px;
          top: 0;
        }
      }

      &-items {
        position: relative;
        display: flex;
        left: 0;
      }
    }
  }

  .product {
    box-sizing: border-box;
    min-width: 321px;
    flex-shrink: 1;
    flex-grow: 0;
    font-family:
      'Inter',
      Arial,
      SF Pro Text,
      Roboto,
      Helvetica Neue,
      Helvetica,
      Tahoma,
      PingFang SC,
      Microsoft YaHei;
    padding: 0 18px;

    &-info {
      width: 100%;
      margin-bottom: 4px;
    }

    &-box {
      padding: 12px;
      overflow: hidden;
      border-radius: 12px;
      @apply text-dark bg-white;
      height: 100%;
      &:hover {
        opacity: 0.8;
      }
    }

    &-thumb {
      width: 100%;
      min-height: 307px;
      img {
        width: 100%;
        border-radius: 12px;
        background-color: #dcdcdc;
      }
    }

    &-price-first {
      font-size: 0.875rem;
      line-height: 1.3;
      font-weight: 400;
      text-decoration: line-through;
      color: #707070;
    }

    &-price {
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
    }

    &-sale {
      font-size: 22px;
      line-height: 30px;
      font-weight: 700;
    }

    &-name {
      margin-top: 12px;
      font-size: 0.875rem;
      line-height: 1.4;
      min-height: 34px;
      max-width: 800px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 29, 27, 0.46);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: all 180ms cubic-bezier(0.19, 0.56, 0.42, 0.93);
    background-color: rgb(0, 0, 0, 0);
    opacity: 0.6;
    visibility: hidden;
    z-index: -1;
  }
  .spect {
    width: 45vw;
    max-width: 640px;
    height: 48vh;
    max-height: 480px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgb(204, 204, 204);
    transform: scale(0.95);
    transition: all 120ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .search {
    width: 45vw;
    max-width: 640px;
    height: 48vh;
    max-height: 480px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgb(204, 204, 204);
    transform: scale(0.95);
    transition: all 120ms cubic-bezier(0.4, 0, 0.2, 1);

    &-title {
      padding: 18px 18px;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      text-align: right;
    }

    &-close {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: -6px;
      cursor: pointer;
    }

    &-badge {
      border: 1px solid rgb(204, 204, 204);
      background-color: rgb(238, 238, 238);
      border-radius: 6px;
      padding: 2px 8px;
      margin-right: 10px;
      display: inline-flex;
      cursor: pointer;

      b {
        padding-left: 8px;
        font-weight: 400;
      }

      &.keyword {
        margin-top: 12px;
        display: inline-block;
      }
    }

    &-submit {
      background-color: rgb(238, 238, 238);
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        @apply bg-dark;
        color: #fff;
      }
    }

    &-cell {
      position: relative;
      margin: 0 18px;
      padding-bottom: 8px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &-panel {
      padding: 40px 62px;
    }

    &-input {
      padding: 0;
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      outline: 0;
      font-size: 16px;
      line-height: 1.4;
      position: relative;
      padding-left: 0;

      &-first {
        position: absolute;
        top: 8px;
        left: 0;
        display: inline-block;
        height: 16px;
        width: 1px;
        z-index: 999;
        animation: blinkBorder 1s infinite;

        @keyframes blinkBorder {
          0% {
            background-color: transparent;
          }

          50% {
            background-color: #999999;
          }

          100% {
            background-color: transparent;
          }
        }
      }

      &:focus ~ &-first {
        border: 1px solid red;
        visibility: hidden;
      }
    }
  }

  .button {
    font-size: 12px;
    padding: 0.25em 0.875em;
    min-height: 32px;
    max-height: 32px;
    font-weight: 700;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 99999px;
    appearance: none;
    color: rgb(255, 255, 255);
    @apply bg-dark;
    transition: background-color 0.2s;
    display: flex;
    width: 100%;
    min-width: 5.5em;

    &-medium {
      min-height: 48px;
      border-radius: 24px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2;
    }

    &:hover {
      @apply bg-primary text-white border-primary;
    }

    &-secondary {
      @apply bg-secondary border-dark border-2 text-dark;
    }

    &-tertiary {
      @apply bg-tertiary text-dark;
    }

    &-light {
      @apply bg-white text-dark border-dark border-2;
    }

    &-primary {
      @apply bg-primary hover:bg-dark hover:border-dark;
    }

    &-primary-outline {
      @apply bg-white text-primary border-primary border-2;
    }

    &-group {
      display: flex;
      justify-content: space-between;
      gap: 12px;
    }
  }

  .breadcrumb {
    margin: 20px auto 0;
    padding: 0 18px;
    max-width: 1680px;

    a {
      color: #707070;
      font-size: 13px;
      line-height: 1.4;
    }
  }

  .specs-y {
    visibility: hidden;
    opacity: 0.6;
    visibility: hidden;
    z-index: -1;
    transform: translateY(-3px);
    transition: all 120ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer {
    @apply bg-dark text-white;
    &-order {
      display: flex;
      flex-wrap: wrap;
      gap: 3.33%;
      margin-right: 30px;
      &-item {
        background-color: #fff;
        width: 30%;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }
    }
    &-container {
      max-width: 1284px;
      margin: 0 auto;
    }

    &-rows {
      padding: 40px 0;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    &-items {
      display: flex;
      padding: 84px 0 26px;
    }

    &-group {
      display: flex;
      flex-grow: 1;
    }

    &-title {
      font-size: 28px;
      line-height: 1.4;
    }

    &-item {
      flex-shrink: 1;
      font-size: 12px;
      line-height: 1.6;
      flex-basis: 25%;
      li:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      &-large {
        font-weight: bold;
        font-size: 14px;
      }

      > li {
        margin-top: 10px;
      }
    }

    &-marketing {
      display: flex;

      > a {
        margin: 0 6px;
        display: inline-block;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 12px;
      line-height: 1.8;
      margin-top: 24px;
    }

    &-copyright {
      flex-grow: 1;
      li:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &-caption {
      display: flex;
      align-items: center;
      margin-top: 5px;

      li {
        margin-left: 18px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &-contact {
      display: flex;
      align-items: center;
      margin-top: 5px;

      li {
        margin-left: 18px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .line {
    border-top: 1px solid #e6e6e6;
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 0;
    height: 0;
  }

  .text {
    &-note {
      white-space: pre-wrap;
      overflow-wrap: break-word;
      display: block;
      margin-top: 0.25em;
      color: rgb(102, 102, 102);
      font-size: 12px;
      line-height: 1.2;
    }
  }

  .share-button {
    @apply bg-primary;
    border: 1px solid #b58a53;
    padding: 10px 28px;
    box-shadow: -2px 8px 12px #dfbd92;
    color: #fff;
    border-radius: 4px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 60px;
  }

  .menu-item {
    font-size: 16px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .menu-link {
    padding: 20px;
    @apply text-dark;
    display: block;
  }

  .menu-link:hover ~ .menu-sub {
    visibility: visible;
  }

  .menu-sub:hover {
    visibility: visible;
  }

  .menu-sub {
    border: 1px solid #dcdcdc;
    visibility: hidden;
    position: absolute;
    width: 380px;
    background-color: #fff;
    top: 99%;
    padding: 10px;
  }

  .menu-sub-link {
    border-bottom: 1px solid #dcdcdc;
    padding: 10px;
    width: 100%;
    display: block;
  }

  .menu-sub-link:hover {
    background-color: gray;
  }

  .menu-link:hover {
    background-color: #e6e6e6;
  }
}

.wrapper {
  min-height: 100vh;
  padding-bottom: 120px;
}

.pattern-green {
  background-image: url('/img/side_back.gif');
  background-repeat: repeat-y;
}

.pattern-header {
  background-image: url('/img/head_b1.gif');
  background-repeat: repeat-x;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Kích thước của thanh cuộn dọc */
  height: 8px;
  /* Kích thước thanh cuộn ngang */
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  /* Màu nền của track */
  border-radius: 10px;
  /* Bo tròn track */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #68aee7;
  /* Màu của thumb */
  border-radius: 10px;
  /* Bo tròn thumb */
  transition: background-color 0.3s ease;
  /* Hiệu ứng chuyển màu */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #68aee7;
  /* Màu của thumb khi hover */
}

.has-text-align-center {
  text-align: center;
}
