:root {
  --primary: #b7272f;
  --secondary: #fdfaf5;
  --dark: #1f1d1b;
  --light: #fdfaf5;
}

body {
  color: #333;
  font-family: 'Arial', Helvetica, sans-serif;
}

@tailwind base;

/* Dark shades close to black: #010101, #020202, #1f1d1b, etc. Crimson 9E1B32*/
/* 2f2f2f */