:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #d09f53;
  --secondary: #fdfaf5;
  --dark: #34312c;
  --light: #fdfdfd;
}

body {
  color: #333;
  font-family: 'Arial', Helvetica, sans-serif;
}

@tailwind base;
