:root {
  --primary: #af2026;
  --secondary: #fbb144;
  --tertiary: #cc9f68;
  --dark: #1f1d1b;
  --light: #fffada;
  --foreground: #f4f4f4;
}

body {
  color: #333;
  font-family:
    'Inter',
    Arial,
    SF Pro Text,
    Roboto,
    Helvetica Neue,
    Helvetica,
    Tahoma,
    PingFang SC,
    Microsoft YaHei;
}

@tailwind base;

/* Dark shades close to black: #010101, #020202, #1f1d1b, etc. Crimson 9E1B32*/
/* 2f2f2f b7272f*/
